/db/mysql
/db/schema.rb
/.bundle
/vender/
/vender/bundle
/.idea/
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/node_modules

/yarn-error.log
yarn-debug.log*
.yarn-integrity
.byebug_history

/public/assets
/public/packs
/public/packs-test

# Ignore master key for decrypting credentials and more.
/config/master.key
.DS_Store
